.place__container {
  position: relative;
  max-width: 984px;
  padding-bottom: 80px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  /* display: flex;
  flex-direction: column;
  gap: 48px; */
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-areas:
    "title artist"
    "img texto"
    "button .";
}

@media screen and (max-width: 768px) {
  .place__container {
    max-width: 733px;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    padding-bottom: 31px;
    grid-column-gap: 28px;
    grid-row-gap: 46px;
    grid-template-areas:
      "title artist"
      "img texto";
  }
}

@media screen and (max-width: 360px) {
  .place__container {
    column-gap: 5px;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .place__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    padding-bottom: 37px;
  }
}
