.place__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .place__text-container {
    gap: 14px;
  }
}

@media screen and (max-width: 320px) {
  .place__text-container {
    gap: 7px;
    max-width: 288px;
    width: 100%;
  }
}
