.place__img {
  grid-area: img;
  max-width: 460px;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .place__img {
    max-width: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
