.geral-button__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .geral-button__text {
    font-size: 14px;
    line-height: 17px;
  }
}
