.place__artist-name {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 320px) {
  .place__artist-name {
    max-width: 288px;
  }
}
