.visit__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  z-index: 3;
}

@media screen and (max-width: 320px) {
  .visit__title {
    font-size: 32px;
    line-height: 35px;
  }
}
